<header class="header">
    <div class="container-fluid container-warp">
        <nav class="navbar navbar-header">
            <div class="left">
                <a class="logo d-flex align-items-center" href="#">
                    <img src="assets/images/logo.png" alt="logo">
                </a>

                <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>

            <div class="menu d-lg-block collapse navbar-collapse" id="menu">
                <ul>
                    <li>
                        <a href="#">Nhà đất bán</a>
                    </li>

                    <li>
                        <a href="#">Nhà đất cho thuê</a>
                    </li>

                    <li>
                        <a href="#">Dự án</a>
                    </li>

                    <li>
                        <a href="#">Tin tức</a>
                    </li>

                    <li>
                        <a href="#">Wiki BĐS</a>
                    </li>

                    <li>
                        <a href="#">Phong thủy</a>
                    </li>

                    <li>
                        <a href="#">Nội - Ngoại thất</a>
                    </li>

                    <li>
                        <a href="#">Danh bạ</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="header__right">
            <div class="save-list" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Danh sách tin đã lưu" data-bs-custom-class="tooltip-save">
                <a class="save-list__btn" href="#">
                    <i class="fa-regular fa-heart"></i>
                </a>
            </div>

            <div class="user-action">
                <a class="login" href="#">
                    Đăng nhập
                </a>

                <a class="sign" href="#">
                    Đăng kí
                </a>
            </div>

            <div class="post">
                <a class="post__btn" href="#">
                    Đăng tin
                </a>
            </div>
        </div>
    </div>
</header>