<nav class="navbar navbar-header">
	<div class="left">
		<a class="logo d-flex align-items-center" href="#">
			<img src="@@webRoot/assets/images/transparentopt.png" alt="logo">
		</a>
		
		<button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
			<i class="fa-regular fa-bars"></i>
		</button>
	</div>
	
	<div class="menu d-lg-block collapse navbar-collapse" id="menu">
		<ul>
			<li>
				<a href="#">Nhà đất bán</a>
			</li>
			
			<li>
				<a href="#">Nhà đất cho thuê</a>
			</li>
			
			<li>
				<a href="#">Dự án</a>
			</li>
			
			<li>
				<a href="#">Tin tức</a>
			</li>
			
			<li>
				<a href="#">Wiki BĐS</a>
			</li>
			
			<li>
				<a href="#">Phong thủy</a>
			</li>
			
			<li>
				<a href="#">Nội - Ngoại thất</a>
			</li>
			
			<li>
				<a href="#">Danh bạ</a>
			</li>
		</ul>
	</div>
</nav>