<ul class="list-social reset-list">
	<li class="list-social__item">
		<a href="#">
			<i class="fa-brands fa-facebook-f"></i>
		</a>
	</li>
	
	<li class="list-social__item">
		<a href="#">
			<i class="fa-brands fa-twitter"></i>
		</a>
	</li>
	
	<li class="list-social__item">
		<a href="#">
			<i class="fa-brands fa-linkedin-in"></i>
		</a>
	</li>
	
	<li class="list-social__item">
		<a href="#">
			<i class="fa-brands fa-pinterest-p"></i>
		</a>
	</li>
	
	<li class="list-social__item">
		<a href="#">
			<i class="fa-brands fa-youtube"></i>
		</a>
	</li>
	
	<li class="list-social__item">
		<a href="#">
			<i class="fa-brands fa-vimeo-v"></i>
		</a>
	</li>
	
	<li class="list-social__item">
		<a href="#">
			<i class="fa-brands fa-instagram"></i>
		</a>
	</li>
	
	<li class="list-social__item">
		<a href="#">
			<i class="fa-brands fa-foursquare"></i>
		</a>
	</li>
</ul>