<form class="tabs-product-search">
    <ul class="nav nav-pills mb-3 tab-list" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" data-bs-toggle="pill" data-bs-target="#sell-real-estate" type="button" role="tab" aria-controls="sell-real-estate" aria-selected="true">Nhà đất bán</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="pill" data-bs-target="#real-estate-rent" type="button" role="tab" aria-controls="real-estate-rent" aria-selected="false">Nhà đất cho thuê</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="pill" data-bs-target="#project" type="button" role="tab" aria-controls="project" aria-selected="false">Contact</button>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="sell-real-estate" role="tabpanel" aria-labelledby="sell-real-estate-tab" tabindex="0">1</div>
        <div class="tab-pane fade" id="real-estate-rent" role="tabpanel" aria-labelledby="real-estate-rent-tab" tabindex="0">2</div>
        <div class="tab-pane fade" id="project" role="tabpanel" aria-labelledby="project-tab" tabindex="0">3</div>
    </div>
</form>